QuantityMeasurement/.vs
QuantityMeasurement/NUnitTestQuantityMeasurement/NUnitTestQuantityMeasurement.csproj
QuantityMeasurement/NUnitTestQuantityMeasurement/obj
QuantityMeasurement/QuantityMeasurement/QuantityMeasurement.csproj
QuantityMeasurement/QuantityMeasurement/obj
QuantityMeasurement/NUnitTestQuantityMeasurement/bin
QuantityMeasurement/QuantityMeasurement/bin